<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert = "~{cargo/templates_cargo::head}"></head>
<body>
    <div th:insert ="~{cargo/templates_cargo::header}"></div>
    <div class="container mt-5">
        <h2>Busqueda de Expediente</h2>
        <div class="mb-3">
            <button class="btn btn-primary" onclick="toggleFields('completo')">Buscar por Nombre Completo</button>
            <button class="btn btn-secondary" onclick="toggleFields('apellido')">Buscar por Apellido</button>
            <button class="btn btn-success" onclick="toggleFields('nombre')">Buscar por Nombre</button>
            <button class="btn btn-warning" onclick="toggleFields('expediente')">Buscar por Expediente</button>
        </div>

        <span class="text-body-secondary fw-light fst-italic">*SOLO MAYUSCULAS*</span>

        <!-- Formulario de búsqueda por Nombre Completo -->
        <form th:action="@{/cargo/buscarPorNombreCompleto}" method="post" id="form-completo" class="d-none">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce tu nombre" required>
            </div>
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introduce el primer apellido" required>
            </div>
            <div class="mb-3">
                <label for="apellido2" class="form-label">Segundo Apellido</label>
                <input type="text" class="form-control" id="apellido2" name="apellido2" placeholder="Introduce el segundo apellido" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Formulario de búsqueda por Apellido -->
        <form th:action="@{/cargo/buscarPorApellido}" method="post" id="form-apellido" class="d-none">
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido" name="apellido" placeholder="Introduce el apellido" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Formulario de búsqueda por Nombre -->
        <form th:action="@{/cargo/buscarPorNombre}" method="post" id="form-nombre" class="d-none">
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Introduce el nombre" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <!-- Formulario de búsqueda por Expediente -->
        <form th:action="@{/cargo/buscarPorExpediente}" method="post" id="form-expediente" class="d-none">
            <div class="mb-3">
                <label for="numeroEx" class="form-label">Número de Expediente</label>
                <input type="text" class="form-control" id="numeroEx" name="numeroEx" placeholder="Introduce el número de expediente" required>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

    </div>

    <!-- Resultados de la búsqueda -->
    <div class="container mt-5 top-50 start-50 text-center"> 
        <h2>Resultados de la Búsqueda de Expedientes</h2>
        <div>
            <table class="table table-responsive" id="result">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Segundo Apellido </th>
                        <th>Dni </th>
                        <th>Celular </th>
                        <th>Solicito </th>
                        <th>Número de Expediente</th>
                        <th>Resolucion</th>
                        <th>Constancia</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="expediente : ${expedientes}">
                        <td th:text="${expediente.solicitante.nombre}"></td>
                        <td th:text="${expediente.solicitante.apellido}"></td>
                        <td th:text="${expediente.solicitante.apellido2}"></td>
                        <td th:text="${expediente.solicitante.dni}"></td>
                        <td th:text="${expediente.solicitante.celular}"></td>
                        <td th:text="${expediente.solicitante.solicito}"></td>
                        <td><a th:href="${expediente.rutaEx}" th:text="${expediente.numeroEx}"></a></td>
                        <td>
                            <a th:text="${expediente.respuesta.resolucion}" th:href="${expediente.respuesta.rutaRe}"></a>
                        </td>  
                        <td>
                            <a th:text="${expediente.respuesta.constancia}" th:href="${expediente.respuesta.rutaC}"></a>
                        </td>
                           
                       
                    </tr>
                </tbody>
            </table>
            <div th:if="${#lists.isEmpty(expedientes)}">
                <p>No se encontraron expedientes con los criterios especificados.</p>
            </div>
        </div>
    </div>
    
    <script th:src="@{/js/bootstrap.bundle.min.js}" type="text/javascript"></script>
    <script>
        function toggleFields(tipoBusqueda) {
            document.getElementById("form-completo").classList.add("d-none");
            document.getElementById("form-apellido").classList.add("d-none");
            document.getElementById("form-nombre").classList.add("d-none");
            document.getElementById("form-expediente").classList.add("d-none");

            if (tipoBusqueda === 'completo') {
                document.getElementById("form-completo").classList.remove("d-none");
            } else if (tipoBusqueda === 'apellido') {
                document.getElementById("form-apellido").classList.remove("d-none");
            } else if (tipoBusqueda === 'nombre') {
                document.getElementById("form-nombre").classList.remove("d-none");
            } else if (tipoBusqueda === 'expediente') {
                document.getElementById("form-expediente").classList.remove("d-none");
            }
        }
    </script>
</body>
</html>
